
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<NTierProje.UI.Areas.Member.Models.VM.ProductVM>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Ürün Adı</th>
                <th>Fiyat</th>
                <th>Stok Adet</th>
                <th>Adet</th>
                <th>Toplam Fiyat</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <label>ödemeniz gereken toplam tutar: <span id="totalCount"></span> $</label>
    <a class="btn btn-primary btn-block" href="~/Member/Checkout/Add">Siparişi Tamamla!</a>
    <ul id="data"></ul>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $.Cart.List()
            }, 500)

            $.Cart = {
                //Append işlemi sırasında ` ` işaretleri arasına kodumuzu yazarak $ ile item'ları belirtmemiz gerekmekte, yoksa Guid tipinde olan id'ler fonksiyonun tetiklenmesini engelleyecektir.
                List: function () {
                    $.getJSON("http://localhost:7865/Member/Cart/List", function (data) {
                        $("table tbody tr").remove();
                        var count = Object.keys(data).length;
                        var totalCount = 0;
                        if (count > 0) {
                            $.each(data, function (key, item) {
                                $("table tbody").append(`<tr><td style='line-height:40px;'>
                                    ${item.ProductName} </td><td style='line-height:40px;'>
                                    ${item.UnitPrice} </td><td style='line-height:40px;'>
                                    ${item.UnitsInStock} </td><td style='line-height:40px;'>
                                    ${item.Quantity} </td><td style='line-height:40px;'>
                                    ${item.Quantity * item.UnitPrice} </td><td><img width='40' height='40' onclick='$.Cart.Increase(" ${item.Id} ") ' src='/Content/Images/plusNew.png' data-toggle='tooltip' data-placement='right' title='Arttır' /><img width='40' height='40' onclick=' $.Cart.Decrease(" ${item.Id} ") ' src='/Content/Images/minusNew.png' data-toggle='tooltip' data-placement='right' title='Azalt' /><img width='40' height='40' onclick='$.Cart.Remove(" ${item.Id} ") ' src='/Content/Images/removeNew.png' data-toggle='tooltip' data-placement='right' title='Sil' /></td></tr>`)
                                totalCount += (item.Quantity * item.UnitPrice);
                            });
                        }
                        $("#totalCount").html(totalCount);
                    });
                },
                Increase: function (Id) {
                    $.ajax({
                        type: "POST",
                        dataType: "Json",
                        url: "@Url.Action("IncreaseCart", "Cart")/"+Id,
                        success: function (data) {
                            $.Cart.List();
                        }
                    })
                },
                Decrease: function (Id) {
                    $.ajax({
                        type: "POST",
                        dataType: "Json",
                        url: "@Url.Action("DecreaseCart","Cart")/" + Id,
                        success: function (data) {
                            $.Cart.List();
                        }
                    })
                },
                Remove: function (Id) {
                    $.ajax({
                        type: "POST",
                        dataType: "Json",
                        url: "@Url.Action("RemoveCart", "Cart")/" + Id,
                        success: function (data) {
                            $.Cart.List();
                        }
                    })
                }

            }

        });




    </script>
    <style type="text/css">
        img:hover {
            cursor: pointer !important;
        }
    </style>
}

