
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_SharedAdminLayout.cshtml";
}

@model List<NTier.Model.Entities.SubCategory>

<form action="/Admin/Product/Add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Name">Ismi</label>
        <input type="text" name="Name" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Price">Fiyatı</label>
        <input type="text" name="Price" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="UnitsInStock">Stok Miktarı</label>
        <input type="text" name="UnitsInStock" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Quantity">Birimi</label>
        <input type="text" name="Quantity" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="SubCategoryID">Kategori Seçiniz</label>
        <select name="SubCategoryID" class="form-control">
            @foreach (var item in Model)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="Image">Fotoğraf</label>
        <input type="file" name="Image" value="" />
    </div>
    <input type="submit" name="name" value="Ekle" class="form-control btn btn-primary" />
</form>