
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_SharedAdminLayout.cshtml";
}
@model List<NTier.Model.Entities.Category>
<form action="/Admin/SubCategory/add" method="post">
    <div class="form-group">
        <label for="Name">Alt Kategori İsmi</label>
        <input type="text" name="Name" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Description">Alt Kategori Açıklaması</label>
        <input type="text" name="Description" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="CategoryID">Kategori Seçiniz</label>
        <select name="CategoryID" class="form-control">
            @foreach (var item in Model)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <input type="submit" name="name" value="Ekle" class="form-control btn btn-primary" />
</form>