
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_SharedAdminLayout.cshtml";
}
@model List<NTier.Model.Entities.SubCategory>
<div class="col-md-12">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Alt Kategori İsmi</th>
                <th>Alt Kategori Açıklaması</th>
                @*<th>Ait Olduğu Kategori</th>*@
                <th colspan="2">Güncelle / Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    @*<td>@item.Category.Name</td>*@
                    <td>
                        <a href="/Admin/SubCategory/update/@item.Id">Güncelle</a>
                        /
                        <a href="/Admin/SubCategory/delete/@item.Id">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
